button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  border-radius: 2em;
  margin: 0.3em;
  font-size: 1.56em;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: space-between;
  justify-content: center;
  height: 100%;
}

.wrapper {
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

.orange {
  background-color: #ff9500;
  color: white;
}

.gray {
  background-color: #505050;
  color: white;
}

.zero {
  width: 6.7em;
  padding-right: 3.8em;
}

.result {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.58em;
  font-size: 3.5em;
}
